//===== VARIABLE GRID ======//
$mw: 1170;
$md1: 1023.98;
$md2: 767.98;
$md3: 360;

//===== COLORS ======//
$color-primary: #ef5b4c;
$color-secondary: #1b4a8a;
$color-flat-button-hover: #d24335;

$color-background: #ffffff;
$color-background-2: #f9f9f3;
;

//===== ANIMATION ======//
$item-transition-hover: 0.3s;